.panel__bg--resize
{
    margin-left: 60%;
    height: 860px;
    width: 760px;
}

.panelContents--move
{
    h1
    {
        font-size: 100px;
    }

    margin-top: 15%;
    resize: auto;
    
}

.buttonShop--move
{
    margin-top: 10%;
}