<mdb-card class="text-center mb-3 panel__bg--resize green accent-2">
  <mdb-card-body class="panelContents--move">
    <h1>Shave Time. Shave Money.</h1><br><br>
    <h3>Different vouchers are being sold everyday, Hurry up before it lasts!. Why not get one?</h3><br><br>
    <h4>✔️ Easy to get (via Email)</h4><br>
    <h4>✔️ Fast response  </h4><br>
    <h4>✔️ Safe Transaction  </h4>
    <button mdbBtn type="button" class="buttonShop--move" gradient="peach" mdbWavesEffect (click)="goToPage('order')">Shop now <mdb-icon fas icon="cart-arrow-down"></mdb-icon> 
    </button>
  </mdb-card-body>
</mdb-card>