<section class="sections random-product">
    <div class="container-fluid">
        <div class="container">
            <div class="row rowItems--move">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/amazon/amazon_500.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">Amazon Starter</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$500</a>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1" readonly></mdb-icon></button>
                    </div>
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/itunes/itunes_500.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">Itunes Novice</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$500</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/paypal/paypal_500.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">Paypal Standard</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$500</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->
                
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/visa/visa_500.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">Visa Classic</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$500</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

            </div><!--.row-->

            <div class="row rowItems--move">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/amazon/amazon_1000.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Amazon Rare</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$1000</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/itunes/itunes_1000.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">iTunes Intermediate</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$1000</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/paypal/paypal_1000.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">Paypal Medium</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$1000</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/visa/visa_1000.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">Visa Gifted</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$1000</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

            </div><!--.row-->

            <div class="row rowItems--move">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/amazon/amazon_2000.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">Amazon Premium</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$2000</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/itunes/itunes_2000.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">iTunes Expert</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$2000</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/paypal/paypal_2000.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">Paypal Extreme</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$2000</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/voucher_imgs/visa/visa_2000.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark voucherName">Visa Prime</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">NEW</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">$2000</a>
                                <br>
                            </div>
                        </div>
                        <button mdbBtn type="button" class="amber darken-3" mdbWavesEffect name="select" (click)="openModal($event)">SELECT<mdb-icon fas icon="tags" class="ml-1"></mdb-icon></button>
                    </div>
                </div><!--.col-->

            </div><!--.row-->

        </div><!--.container-->
    </div><!--.container-fluid-->
</section>